@charset "utf-8";

header, nav, article, aside, footer {
    border: 1px solid gray;
}

main {
    width: 80%;
    max-width: 1000px;
    display: grid;
    margin: auto;
    grid-template-areas:
        "h h h"
        "n a s"
        "f f f";
    grid-gap: 10px;
    
}

header {
    grid-area: h;
    background-color: orange;
}

nav {
    grid-area: n;
    background-color: lightgreen;
}

article {
    grid-area: a;
    background-color: beige;
}

aside {
    grid-area: s;
    background-color: lightblue;
}

footer {
    grid-area: f;
    background-color: lightcoral;
}